<div class="container">

  <header>
    <h1>IdeaBox</h1>
    {{#link-to 'about'}}About{{/link-to}}
    {{#link-to 'contact'}}Contact Us{{/link-to}}
    <p>{{#link-to 'ideas'}}Home{{/link-to}}</p>
  </header>

{{outlet}}

</div>
